.pagination {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pageNumber {
  padding: 8px;
  border: none;
  background-color: white;
  cursor: pointer;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
}
